/* @import '~highlight.js/styles/vs.css'; */
@import '~highlight.js/styles/github.css';

:host {
  display: block;
  width: 100%;
  border: 1px solid #d4d4d8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  padding: 15px 15px;
}