@import '~highlight.js/styles/base16/solarized-light.css';

:host {
  --plz-color-black-very-low: #F8F9FA;
  --plz-color-black-low: #d4d4d8;
  display: block;
  
  border: 1px solid var(--plz-color-black-low);
  background-color: var(--plz-color-black-very-low);
}

div {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  min-width: 33%;
  max-width: 100%;
  overflow: auto;
}
