:host {
  display: block;
  /*    ## FUENTES ##   */
  --plz-font-primary: Verdana, Geneva, Tahoma, sans-serif;

  /* Peso fuente */
  --plz-font-weight-light: 100;
  --plz-font-weight-normal: 400;
  --plz-font-weight-bold: 500;

  /* Tamaño fuente */
  --plz-font-size-small: 0.75rem;
  /* (12px) */
  --plz-font-size-normal: 0.875rem;
  /* (14px) */
  --plz-font-size-medium: 1rem;
  /* (16px) */
  --plz-font-size-sub-section: 2.25rem;
  --plz-font-size-section: 2.75rem;
  /* (36px) */
  --plz-font-size-titles: 3rem;
  /* (48px) */

  /* Altura de linea */
  --plz-line-height-low: 1.4;
  --plz-line-height-normal: 1.8;
  --plz-line-height-big: 2.4;

  /* Radio borde */
  --plz-border-radius-circle: 50%;
  --plz-border-radius-rounded: 9999px;
  --plz-border-radius-square: 0px;
  --plz-border-radius-default: 0.25rem;

  /*    ## COLORES ##   */

  /* Primarios-gamma-azul */
  --plz-color-blue-1: #023E8A;
  --plz-color-blue-2: #0077B6;
  --plz-color-blue-3: #0096C7;
  --plz-color-blue-4: #a7b3e9;
  --plz-color-blue-5: #CAF0F8;

  /* Primarios-gamma-verde */
  --plz-color-green-1: #081C15;
  --plz-color-green-2: #1B4332;
  --plz-color-green-3: #4cb05b;
  --plz-color-green-4: #52B788;
  --plz-color-green-5: #D8F3DC;

  /* Primarios-gamma-rojo  */
  --plz-color-red-1: #A4133C;
  --plz-color-red-2: #FF4D6D;
  --plz-color-red-3: #e67a8d;
  --plz-color-red-4: #FFB3C1;
  --plz-color-red-5: #FFF0F3;

  /* Primarios-gamma-negro */
  --plz-color-black-1: black;
  --plz-color-black-2: #212529;
  --plz-color-black-3: #495057;
  --plz-color-black-4: #d4d4d8;
  --plz-color-black-5: #F8F9FA;

  /* Primarios-gamma-blanco */
  --plz-color-white: white;
}

a {
  display: flex;
  text-decoration: none;
  width: 320px;
  color: inherit;
}

.card-default {
  width: 320px;
  border-radius: var(--plz-border-radius-default);
  background-color: var(--plz-color-white);
  transition: box-shadow .3s;
}

.card-default:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-content-default,
.card-content-default {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-default {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 320px;
  background-color: var(--plz-color-black-3);
  background-size: 320px;
  border-radius: var(--plz-border-radius-default) var(--plz-border-radius-default) 2rem 0;
}

/* Corner invading */
/* .overlay-default::after,
.overlay-default::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--plz-color-black-3);
}
.overlay-default::after {
  border-radius: 2rem 0 0 0;
  background-color: var(--plz-color-white);
} */

.image-content-default {
  position: relative;
  row-gap: 5px;
}

.card-content-default ::slotted(h2) {
  font-size: 24px;
  font-weight: var(--plz-font-weight-bold);
  color: var(--plz-color-black-1);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.card-content-default ::slotted(p) {
  font-size: 16px;
  text-align: justify;
  color: var(--plz-color-black-1);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0;
}

/* .overlay-image-default {
  position: relative;
  height: 150px;
  width: 200px;
  border-radius: var(--plz-border-radius-default);
  background-color: var(--plz-color-white);
  padding: 3px;
}

.overlay-image-default .image-default {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  border-radius: var(--plz-border-radius-default);
  border: 4px solid --plz-color-blue-2;
} */