:host {
  display: block;
  --plz-color-black-mid: #495057;
  --plz-color-black-low: #d4d4d8;
  --plz-color-black-very-low: #F8F9FA;
}

.divider {
  margin: 0;
  border: 0;
  height: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid var(--plz-color-black-very-low);
  border-bottom: 1px solid var(--plz-color-black-low);
}