:root {
    /*    ## FUENTES ##   */
    --plz-font-primary: Padauk, sans-serif;
    /* Peso fuente */
    --plz-font-weight-light: 100;
    --plz-font-weight-normal: 400;
    --plz-font-weight-bold: 500;

    /* Tamaño fuente */
    --plz-font-size-very-small: 12px;
    --plz-font-size-small: 14px;
    --plz-font-size-normal: 16px;
    --plz-font-size-sub-section: 20px;
    --plz-font-size-section: 48px;
    --plz-font-size-titles: 64px;
    --plz-font-size-below-titles: 24px;

    /* Altura de linea */
    --plz-line-height-low: 1.4;
    --plz-line-height-normal: 1.8;
    --plz-line-height-big: 2.4;

    /* Radio borde */
    --plz-border-radius-circle: 50%;
    --plz-border-radius-rounded: 9999px;
    --plz-border-radius-low-rounded: 25px;
    --plz-border-radius-default: 0.25rem;
    --plz-border-radius-square: 0px;

    /*    ## COLORES ##   */

    /* Primarios-gamma-azul */
    --plz-color-blue-1: #023E8A;
    --plz-color-blue-2: #0077B6;
    --plz-color-blue-3: #0096C7;
    --plz-color-blue-4: #a7b3e9;
    --plz-color-blue-5: #CAF0F8;

    /* Primarios-gamma-verde */
    --plz-color-green-1: #081C15;
    --plz-color-green-2: #1B4332;
    --plz-color-green-3: #4cb05b;
    --plz-color-green-4: #52B788;
    --plz-color-green-5: #D8F3DC;

    /* Primarios-gamma-rojo  */
    --plz-color-red-1: #A4133C;
    --plz-color-red-2: #FF4D6D;
    --plz-color-red-3: #e67a8d;
    --plz-color-red-4: #FFB3C1;
    --plz-color-red-5: #FFF0F3;

    /* Primarios-gamma-negro */
    --plz-color-black-1: black;
    --plz-color-black-2: #212529;
    --plz-color-black-3: #495057;
    --plz-color-black-4: #d4d4d8;
    --plz-color-black-5: #F8F9FA;

    /* Primarios-gamma-blanco */
    --plz-color-white: white;
}

body,
div,
h1,
h2,
h3,
p,
span,
img,
hr {
    margin: 0;
    padding: 0;
}

/*
    ###      LANDING-PAGE      ###
*/

.landing-main {
    font-family: var(--plz-font-primary);
    margin: 0;
    background-color: var(--plz-color-black-5);
}

.cards-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cards-section h2 {
    text-align: center;
    font-size: 48px;
    margin: 15px;
}

.cards-section h3 {
    font-size: 30px;
}

.cards-section p {
    font-size: 20px;
}

.landing-cards {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.about-us-section {
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 70px;
}

.about-us-section h2 {
    margin-top: 30px;
    font-size: var(--plz-font-size-section);
    text-align: center;
    margin-bottom: 30px;
}

.about-us-section h3 {
    font-size: 40px;
    text-align: justify;
}

.about-us-section p {
    font-size: var(--plz-font-size-sub-section);
    text-align: justify;
}

.about-us-columns {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content content";
}

.about-us-content {
    padding: 5%;
}

.about-us-content:first-child {
    border-right: 1px solid var(--plz-color-black-3);
}

/*
    ###      HERO      ###
*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    /* Deberia ser 55px pero dependiendo de la resolucion se escapa un pixel */
    height: 900px;
    background-image: url('../assets/icon/Hero-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    box-sizing: border-box;
    margin: 200px;
    padding: 40px;
    background-color: var(--plz-color-white);
    border-radius: 50px;
    text-align: center;
}

.hero h1 {
    box-sizing: border-box;
    font-size: var(--plz-font-size-titles);
    font-weight: 500;
    letter-spacing: -0.03rem;
}

.hero p {
    box-sizing: border-box;
    font-size: var(--plz-font-size-below-titles);
}

/*
    ###      SUB-HERO      ###
*/

.sub-hero {
    margin: 0 auto;
    display: grid;
    margin-top: 60px;
    width: 660px;
    max-width: 660px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-hero h2 {
    box-sizing: border-box;
    font-size: var(--plz-font-size-section);
    font-weight: 500;
    letter-spacing: -0.03rem;
}

.sub-hero p {
    box-sizing: border-box;
    padding-left: 90px;
    padding-right: 90px;
    font-size: var(--plz-font-size-sub-section);
}

.docs-button {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 50px;
    color: var(--plz-color-white);
    background: var(--plz-color-black-2);
    border-radius: 20px;
    font-size: var(--plz-font-size-sub-section);
    cursor: pointer;
}


.docs-button:hover {
    background-color: var(--plz-color-black-3);
}

/*
    ###      DIVIDERS      ###
*/

.divider-green {
    height: 400px;
    width: 100%;
    background-image: url('../assets/icon/Divider-green.svg');
    background-position: top left;
    background-size: cover;
}

.divider-orange {
    height: 400px;
    width: 100%;
    background-image: url('../assets/icon/Divider-orange.svg');
    background-position: bottom left;
    background-size: cover;
}

/*
    ###      HEADER      ###
*/

header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: var(--plz-color-black-2);
    padding-right: 12px;
}

header .right-side {
    color: var(--plz-color-white);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: var(--plz-font-size-sub-section);
    line-height: 25px;
    border-radius: 4px;
}

header a.right-side:hover {
    background-color: var(--plz-color-black-3);
    color: var(--plz-color-white);
}

header .right {
    margin-left: auto;
    padding-right: 13px;
}

header a.web {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 25px;
    font-weight: var(--plz-font-weight-bold);
    color: var(--plz-color-white);
    text-decoration: none;
    border-radius: 4px;
}

header a.palaze {
    margin-top: 5px;
    margin-left: 20px;
    color: var(--plz-color-white);
    text-align: center;
    text-decoration: none;
    font-size: var(--plz-font-size-sub-section);
}

/*
    ###      RESIZE AND FIXING      ###
*/

.resize-logo {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
}

.logo {
    padding: 0;
    background-size: cover;
    margin-left: 25px;
    margin-right: 0;
    margin-top: 6px;
    margin-bottom: 2px;
}

.logo:hover {
    background-color: var(--plz-color-black-2);
}

/*
    ###      SCREEN MEDIA QUERIS      ###
*/

@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }

    header a.web {
        display: none;
    }

    .hero {
        width: 100%;
    }
}

@media screen and (max-width: 1140px) {
    .hero-content {
        margin: 50px;
    }
}

/*
    ###      FOOTER      ###
*/

footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url('../assets/icon/Footer-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-container {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content content";
}

.footer-content {
    box-sizing: border-box;
    padding: 40px;
    margin: 50px;
    min-height: 200px;
    min-width: 200px;
    background-color: var(--plz-color-white);
    border-radius: 50px;
}

.footer-content h2 {
    font-size: 30px;
    text-align: justify;
}

.footer-content p {
    font-size: var(--plz-font-size-sub-section);
    text-align: justify;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*
    ######      DOCS      ######
*/

.docs-main {
    font-family: var(--plz-font-primary);
    margin-top: 5%;
    position: absolute;
    left: 20%;
    right: 20%;
    transition: all 0.3s;
}

.docs-main h1 {
    font-size: var(--plz-font-size-titles);
}

.docs-main h2 {
    font-size: var(--plz-font-size-section);
}

.docs-main h3 {
    font-size: 30px;
}

.docs-main p {
    font-size: var(--plz-font-size-sub-section);
}

/*
    ###      SIDEBAR      ###
*/

.sidebar {
    background-color: var(--plz-color-white);
    height: 100%;
    width: 0%;
    position: fixed;
    overflow-x: hidden;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.button-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    padding: 6px 6px;
    font-size: 28px;
    cursor: pointer;
    display: inline-block;
}

.button-sidebar:active {
    color: gray;
}

.component-tag {
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Sans Unicode';
    color: #495057;
    letter-spacing: 0.1rem;
}


/*
    ###      OVERVIEW      ###
*/

.overview {
    width: 100%;
    height: auto;
    border-radius: var(--plz-border-radius-low-rounded);
}



/*
    ###      ATTRIBUTE TABLE      ###
*/

.table-atr {
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
    width:100%;
    overflow: auto;
}

.table-atr thead th {
    color: var(--plz-color-white);
    background-color: var(--plz-color-black-3);
    font-size: var(--plz-font-size-sub-section);
}

.table-atr td,
.table-atr th {
    text-align: center;
    padding: 8px;
}

.table-atr td {
    border-bottom: 1px solid var(--plz-color-black-4);
    font-size: var(--plz-font-size-sub-section);
    overflow: hidden;
}

/*
    ###      GENERAL      ###
*/



.content-detail h1 {
    font-size: var(--plz-font-size-titles);
}

.content-detail h2 {
    font-size: var(--plz-font-size-section);
}

.content-detail h3 {
    font-size: 30px;
}

.content-detail p {
    font-size: var(--plz-font-size-sub-section);
}

/* .resize {
    /* Resize image 
    height: 400px;
    width: 400px;
}

.colocation {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.position-vertical {
    /* Position center vertically 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */