:root {
    /*    ## FUENTES ##   */
    --plz-font-primary: Padauk, sans-serif;
    /* Peso fuente */
    --plz-font-weight-regular: 400;
    --plz-font-weight-bold: 700;

    /* Tamaño fuente */
    --plz-font-size-very-small: 12px;
    --plz-font-size-small: 14px;
    --plz-font-size-normal: 16px;
    --plz-font-size-sub-section: 20px;
    --plz-font-size-mid-section: 30px;
    --plz-font-size-section: 48px;
    --plz-font-size-titles: 64px;
    --plz-font-size-below-titles: 24px;

    /* Altura de linea */
    --plz-line-height-smaller: 1;
    --plz-line-height-small: 1.4;
    --plz-line-height-normal: 1.8;
    --plz-line-height-big: 2.4;

    /* Espacio entre letras */
    --plz-letter-space-smaller: -0.48px;
    --plz-letter-space-small: -0.24px;
    --plz-letter-space-normal: normal;
    --plz-letter-space-big: 1.2px;
    --plz-letter-space-biger: 2.4px;

    /* Radio borde */
    --plz-border-radius-circle: 50%;
    --plz-border-radius-rounded: 9999px;
    --plz-border-radius-low-rounded: 25px;
    --plz-border-radius-default: 0.25rem;
    --plz-border-radius-square: 0px;

    /*    ## COLORES ##   */

    /* Primarios-gamma-azul */
    --plz-color-blue-1: #023E8A;
    --plz-color-blue-2: #0077B6;
    --plz-color-blue-3: #0096C7;
    --plz-color-blue-4: #a7b3e9;
    --plz-color-blue-5: #CAF0F8;

    /* Primarios-gamma-verde */
    --plz-color-green-1: #081C15;
    --plz-color-green-2: #1B4332;
    --plz-color-green-3: #4cb05b;
    --plz-color-green-4: #52B788;
    --plz-color-green-5: #D8F3DC;

    /* Primarios-gamma-rojo  */
    --plz-color-red-1: #A4133C;
    --plz-color-red-2: #FF4D6D;
    --plz-color-red-3: #e67a8d;
    --plz-color-red-4: #FFB3C1;
    --plz-color-red-5: #FFF0F3;

    /* Primarios-gamma-yellow */
    --plz-color-yellow-1: #b88900;
    --plz-color-yellow-2: #d3a007;
    --plz-color-yellow-3: #fbf451;
    --plz-color-yellow-4: #ffff7d;
    --plz-color-yellow-5: #ffffdb;

    /* Primarios-gamma-purple */
    --plz-color-purple-1: #340856;
    --plz-color-purple-2: #5d1372;
    --plz-color-purple-3: #732487;
    --plz-color-purple-4: #a167c9;
    --plz-color-purple-5: #fff0ff;

    /* Primarios-gamma-orange */
    --plz-color-orange-1: #ee4a00;
    --plz-color-orange-2: #e28000;
    --plz-color-orange-3: #f9a72f;
    --plz-color-orange-4: #fbbd5e;
    --plz-color-orange-5: #fde9b0;

    /* Primarios-gamma-negro */
    --plz-color-black-1: black;
    --plz-color-black-2: #212529;
    --plz-color-black-3: #495057;
    --plz-color-black-4: #d4d4d8;
    --plz-color-black-5: #F8F9FA;

    /* Primarios-gamma-blanco */
    --plz-color-white: white;
}

body,
div,
h1,
h2,
h3,
p,
span,
img {
    margin: 0;
    padding: 0;
}

a {
    font-size: 20px;
}

body {
    font-family: var(--plz-font-primary);
}

/*
    ###      LANDING-PAGE      ###
*/

.landing-main {
    font-family: var(--plz-font-primary);
    margin: 0;
    background-color: var(--plz-color-black-5);
}

.cards-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cards-section h2 {
    text-align: center;
    font-size: var(--plz-font-size-section);
    margin: 15px;
}

.cards-section h3 {
    font-size: var(--plz-font-size-mid-section);
}

.cards-section p {
    font-size: var(--plz-font-size-sub-section);
}

.landing-cards {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.about-us-section {
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 70px;
}

.about-us-section h2 {
    margin-top: var(--plz-font-size-mid-section);
    font-size: var(--plz-font-size-section);
    text-align: center;
    margin-bottom: var(--plz-font-size-mid-section);
}

.about-us-section h3 {
    font-size: 40px;
    text-align: justify;
}

.about-us-section p {
    font-size: var(--plz-font-size-sub-section);
    text-align: justify;
}

.about-us-columns {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "content content";
}

.about-us-content {
    padding: 5%;
}

.about-us-content:first-child {
    border-right: 1px solid var(--plz-color-black-3);
}

/*
    ###      HERO      ###
*/

.hero-content h1 {
    box-sizing: border-box;
    font-size: var(--plz-font-size-titles);
    font-weight: var(--plz-font-weight-bold);
    letter-spacing: var(--plz-letter-space-smaller);
    line-height: var(--plz-line-height-small);
}

.hero-content p {
    box-sizing: border-box;
    font-size: var(--plz-font-size-below-titles);
}

/*
    ###      SUB-HERO      ###
*/

.sub-hero {
    margin: 0 auto;
    display: grid;
    margin-top: 60px;
    width: 660px;
    max-width: 660px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sub-hero h2 {
    box-sizing: border-box;
    font-size: var(--plz-font-size-section);
    line-height: var(--plz-line-height-small);
    letter-spacing: var(--plz-letter-space-smaller);
}

.sub-hero p {
    box-sizing: border-box;
    padding-left: 90px;
    padding-right: 90px;
    font-size: var(--plz-font-size-sub-section);
}

.docs-button {
    margin-top: var(--plz-font-size-sub-section);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 50px;
    color: var(--plz-color-white);
    background: var(--plz-color-black-2);
    border: none;
    border-radius: var(--plz-font-size-sub-section);
    font-size: var(--plz-font-size-sub-section);
    cursor: pointer;
}


.docs-button:hover {
    background-color: var(--plz-color-black-3);
}

/*
    ###      DIVIDERS      ###
*/

.divider-green {
    height: 400px;
    width: 100%;
    background-image: url('../assets/icon/Divider-green.svg');
    background-position: top left;
    background-size: cover;
}

.divider-orange {
    height: 400px;
    width: 100%;
    background-image: url('../assets/icon/Divider-orange.svg');
    background-position: bottom left;
    background-size: cover;
}

/*
    ###      RESIZE AND FIXING      ###
*/


/*
    ###      SCREEN MEDIA QUERIS      ###
*/

@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }

    header a.web {
        display: none;
    }
}

/*
    ###      FOOTER      ###
*/

.footer-content h2 {
    font-size: var(--plz-font-size-mid-section);
    text-align: justify;
}

.footer-content p {
    font-size: var(--plz-font-size-sub-section);
    text-align: justify;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*
    ######      DOCS      ######
*/

.docs-main {
    font-family: var(--plz-font-primary);
    margin-top: 5%;
    padding-bottom: 5%;
    position: absolute;
    left: 30%;
    right: 20%;
    transition: all 0.3s;
}

.docs-main h1 {
    font-size: var(--plz-font-size-titles);
}

.docs-main h2 {
    font-size: var(--plz-font-size-section);
}

.docs-main h3 {
    font-size: var(--plz-font-size-mid-section);
}

.docs-main p {
    font-size: var(--plz-font-size-sub-section);
}

.component-tag {
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Sans Unicode';
    color: #495057;
    letter-spacing: var(--plz-letter-space-normal);
}

/*
    ###      SIDEBAR      ###
*/

.sidebar {
    z-index: 1;
    background-color: var(--plz-color-white);
    height: 100%;
    width: 275px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-right: 1px solid var(--plz-color-black-4);
}

.sidebar ul {
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: var(--plz-font-size-sub-section);
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: var(--plz-font-size-sub-section);
}

.sidebar li {
    box-sizing: border-box;
    line-height: 24px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 28px;
    margin-right: 0;
    width: 100%;
    cursor: pointer;
    list-style: none;
}

.sidebar .sub-option {
    padding-left: 48px;
}

.sidebar img {
    width: 225px;
    border-radius: var(--plz-border-radius-low-rounded);
    margin-left: 28px;
}

.sidebar-selected {
    color: var(--plz-color-white);
    font-weight: var(--plz-font-weight-bold);
    background-color: var(--plz-color-black-3);
    border-top-right-radius: var(--plz-border-radius-low-rounded);
    border-bottom-right-radius: var(--plz-border-radius-low-rounded);
}


.button-sidebar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    padding: 6px 6px;
    font-size: var(--plz-font-size-below-titles);
    cursor: pointer;
    display: inline-block;
}

.button-sidebar:active {
    color: gray;
}


/*
    ###      OVERVIEW      ###
*/

.overview {
    width: 100%;
    height: auto;
    border-radius: var(--plz-border-radius-low-rounded);
}

/*
    ###      ATTRIBUTE TABLE      ###
*/

.table-atr {
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    overflow-x: scroll;
}

.table-atr thead th {
    color: var(--plz-color-white);
    background-color: var(--plz-color-black-3);
    font-size: var(--plz-font-size-sub-section);
}

.table-atr td,
.table-atr th {
    text-align: center;
    padding: 8px;
}

.table-atr td {
    border-bottom: 1px solid var(--plz-color-black-4);
    font-size: var(--plz-font-size-sub-section);
    overflow: hidden;
}

/*
    ###      DESIGN SYSTEM      ###
*/

.colors-design {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.paleta {
    box-sizing: border-box;
    margin: 5px;
}



/*
    ###      GENERAL      ###
*/



.content-detail h1 {
    font-size: var(--plz-font-size-titles);
    line-height: var(--plz-line-height-small);
}

.content-detail h2 {
    font-size: var(--plz-font-size-section);
    line-height: var(--plz-line-height-small);
}

.content-detail h3 {
    font-size: var(--plz-font-size-mid-section);
    margin-block-start: var(--plz-font-size-sub-section);
    margin-block-end: 0px;
    letter-spacing: var(--plz-letter-space-small);
}

.content-detail h4 {
    font-size: var(--plz-font-size-below-titles);
    margin-block-start: var(--plz-font-size-sub-section);
    margin-block-end: 0px;
    line-height: var(--plz-line-height-normal);
}

.content-detail p {
    font-size: var(--plz-font-size-sub-section);
    text-align: justify;
}

/*
    ###      SYSTEM DESIGN SECTION      ###
*/

.design-block-image-right {
    width: 350px;
    float: right;
    border-radius: var(--plz-border-radius-low-rounded);
    margin-left: 15px;
    margin-bottom: 5px;
}

.design-block-image-left {
    width: 350px;
    float: left;
    border-radius: var(--plz-border-radius-low-rounded);
    margin-right: 15px;
    margin-bottom: 5px;
}

@media (max-width:1092px) {
    .design-block-image-right {
        width: 100%;
        margin-bottom: 5px;
    }
    .design-block-image-left {
        width: 100%;
        margin-bottom: 5px;
    }
}