:host {
  display: block;
  --color: white;
  --color-text: black;
  --color-hover: white;
  --color-text-hover: black;
}

.header {
  position: fixed;
  display: inline-flex;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: var(--color);
  top: 0;
  left: 0;
  height: 45px;
}

.header>* {
  padding-right: 10px;
  padding-left: 10px;
}

.header .right {
  display: flex;
  height: 100%;
  margin-left: auto;
}
.header .left {
  display: flex;
  height: 100%;
  margin-right: auto;
}

:host ::slotted([slot="right"]) {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-text);
  padding-left: 10px;
  padding-right: 10px;
}

:host ::slotted([slot="right"]:hover) {
  background-color: var(--color-hover);
  color: var(--color-text-hover);
  height: 100%;
}

:host ::slotted([slot="left"]) {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-text);
  padding-left: 10px;
  padding-right: 10px;
}

:host ::slotted(a) {
  text-decoration: none;
}

:host ::slotted(img) {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}