:host {
  display: block;
  --plz-color-black-5: #d4d4d8;
}

ul {
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  border: 1px solid var(--plz-color-black-5);
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
