:host {
  display: block;
  /*    ## FUENTES ##   */
  --plz-font-primary: Padauk, sans-serif;
  /* Peso fuente */
  --plz-font-weight-regular: 400;
  --plz-font-weight-bold: 700;

  /* Tamaño fuente */
  --plz-font-size-very-small: 12px;
  --plz-font-size-small: 14px;
  --plz-font-size-normal: 16px;
  --plz-font-size-sub-section: 20px;
  --plz-font-size-mid-section: 30px;
  --plz-font-size-section: 48px;
  --plz-font-size-titles: 64px;
  --plz-font-size-below-titles: 24px;

  /* Altura de linea */
  --plz-line-height-smaller: 1;
  --plz-line-height-small: 1.4;
  --plz-line-height-normal: 1.8;
  --plz-line-height-big: 2.4;

  /* Espacio entre letras */
  --plz-letter-space-smaller: -0.48px;
  --plz-letter-space-small: -0.24px;
  --plz-letter-space-normal: normal;
  --plz-letter-space-big: 1.2px;
  --plz-letter-space-biger: 2.4px;

  /* Radio borde */
  --plz-border-radius-circle: 50%;
  --plz-border-radius-rounded: 9999px;
  --plz-border-radius-low-rounded: 25px;
  --plz-border-radius-default: 0.25rem;
  --plz-border-radius-square: 0px;

  /*    ## COLORES ##   */

  /* Primarios-gamma-azul */
  --plz-color-blue-1: #023E8A;
  --plz-color-blue-2: #0077B6;
  --plz-color-blue-3: #0096C7;
  --plz-color-blue-4: #a7b3e9;
  --plz-color-blue-5: #CAF0F8;

  /* Primarios-gamma-verde */
  --plz-color-green-1: #081C15;
  --plz-color-green-2: #1B4332;
  --plz-color-green-3: #4cb05b;
  --plz-color-green-4: #52B788;
  --plz-color-green-5: #D8F3DC;

  /* Primarios-gamma-rojo  */
  --plz-color-red-1: #A4133C;
  --plz-color-red-2: #FF4D6D;
  --plz-color-red-3: #e67a8d;
  --plz-color-red-4: #FFB3C1;
  --plz-color-red-5: #FFF0F3;

  /* Primarios-gamma-yellow */
  --plz-color-yellow-1: #b88900;
  --plz-color-yellow-2: #d3a007;
  --plz-color-yellow-3: #fbf451;
  --plz-color-yellow-4: #ffff7d;
  --plz-color-yellow-5: #ffffdb;

  /* Primarios-gamma-purple */
  --plz-color-purple-1: #340856;
  --plz-color-purple-2: #5d1372;
  --plz-color-purple-3: #732487;
  --plz-color-purple-4: #a167c9;
  --plz-color-purple-5: #fff0ff;

  /* Primarios-gamma-orange */
  --plz-color-orange-1: #ee4a00;
  --plz-color-orange-2: #e28000;
  --plz-color-orange-3: #f9a72f;
  --plz-color-orange-4: #fbbd5e;
  --plz-color-orange-5: #fde9b0;

  /* Primarios-gamma-negro */
  --plz-color-black-1: black;
  --plz-color-black-2: #212529;
  --plz-color-black-3: #495057;
  --plz-color-black-4: #d4d4d8;
  --plz-color-black-5: #F8F9FA;

  /* Primarios-gamma-blanco */
  --plz-color-white: white;
}

/* ## Normal ## */

.spinner {
  width: 24px;
  height: 24px;
  border-radius: var(--plz-border-radius-circle);
}

.spin {
  width: 24px;
  height: 24px;
  border-radius: var(--plz-border-radius-circle);
  animation: spin-girar 1.5s ease-in-out infinite;
}

@keyframes spin-girar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Simple */

/* Spinner parameters */
.simple-spinner {
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  /* text-indent: -9999em; */
  border: 8px solid var(--plz-color-blue-1);
  border-left: 8px solid var(--plz-color-blue-3);
  border-radius: var(--plz-border-radius-circle);
  animation: s-spinner 1.5s infinite linear;
}

@keyframes s-spinner {
  100% {
    transform: rotate(360deg);
  }
}

/* ## ATOM ## */

.carga {
  position: relative;
  width: 40px;
  height: 40px;
}

.carga .combo {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: var(--plz-border-radius-circle);
}

.carga .combo:nth-child(1) {
  animation: rotar-hijo-1 2.3s linear infinite;
  animation-delay: -1.6s;
}

.carga .combo:nth-child(2) {
  animation: rotar-hijo-2 2.3s linear infinite;
  animation-delay: -0.8s;
}

.carga .combo:nth-child(3) {
  animation: rotar-hijo-3 2.3s linear infinite;
  animation-delay: 0s;
}

@keyframes rotar-hijo-1 {
  from {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(0);
  }

  to {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(1turn);
  }
}

@keyframes rotar-hijo-2 {
  from {
    transform: rotateX(55deg) rotateY(5deg) rotateZ(0);
  }

  to {
    transform: rotateX(55deg) rotateY(5deg) rotateZ(1turn);
  }
}

@keyframes rotar-hijo-3 {
  from {
    transform: rotateX(40deg) rotateY(50deg) rotateZ(0);
  }

  to {
    transform: rotateX(40deg) rotateY(50deg) rotateZ(1turn);
  }
}


/* ## WAVE ## */

.playa {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.wave {
  margin: 2px;
  width: 6px;
  height: 40px;
  animation: wave 1.5s linear infinite;
}

.wave:nth-child(1) {
  animation-delay: 0.4s;
}

.wave:nth-child(2) {
  animation-delay: 0.5s;
}

.wave:nth-child(3) {
  animation-delay: 0.6s;
}

.wave:nth-child(4) {
  animation-delay: 0.7s;
}

.wave:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* bolas */

.bolas {
  position: relative;
  height: 32px;
  width: 32px;
}

.bolas>.bola {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: var(--plz-border-radius-circle);
}

.bolas>.bola:after {
  position: absolute;
  content: '';
  height: 6px;
  width: 6px;
  border-radius: var(--plz-border-radius-circle);
}

.bolas>.bola:nth-child(1) {
  animation: bola-gira 3.7s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(1):after {
  transform: translateY(-50%);
  background-color: var(--color-bola-0);
}

.bolas>.bola:nth-child(2) {
  animation: bola-gira 2s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(2):after {
  transform: translateX(-50%);
  background-color: var(--color-bola-1);
}

.bolas>.bola:nth-child(3) {
  animation: bola-gira 3s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(3):after {
  transform: translateY(-50%);
  background-color: var(--color-bola-2);
}

.bolas>.bola:nth-child(4) {
  animation: bola-gira 4s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(4):after {
  transform: translateX(-50%);
  background-color: var(--color-bola-3);
}

.bolas>.bola:nth-child(5) {
  animation: bola-gira 1.2s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(5):after {
  transform: translateY(-50%);
  background-color: var(--color-bola-4);
}

.bolas>.bola:nth-child(6) {
  animation: bola-gira 2.4s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(6):after {
  transform: translateX(-50%);
  background-color: var(--color-bola-5);
}

@keyframes bola-gira {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1080deg);
  }
}